<div class="content container-fluid">
  <section>
    <div class=" row">
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <img class="img" src="/assets/broker.png" alt="">
      </div>
      <div class=" content col-12 col-md-6 ">
        <h1 class="adsTitle col-12 col-md-12  d-flex justify-content-end"> Seja um corretor de sucesso com o Brokify! </h1>
        <p class="adsContent col-12 col-md-12  d-flex justify-content-end">
          Conecte-se a proprietários em busca de vender ou alugar seus imóveis e amplie
          sua carteira de clientes hoje mesmo.
          <br> Cadastre-se agora</p>
          <span class="col-12 col-md-12 d-flex justify-content-center">
            <a href="" class="cadtra"> CADASTRAR </a>
        </span>
      </div>
      </div>
  </section>
</div>
