.content{
  background: #0D536B;
}


.img{
  max-width: 100%;
  margin-left: 40%;
}

.adsTitle{
  margin-top: 2%;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #e28e11;
}

.adsContent{
  margin-top: 3%;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.cadtra{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 4%;
  align-content: center;
  color: #F5E6C6 ;
  background-color: #E16522;
  border-radius: 3px;
  border: solid transparent;
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
}
