<body>

  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <img class="img" src="/assets/logo.png" alt="LOGO">
        </div>
        <div class="col-md-10 d-flex justify-content-end">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="#"> Sou Proprietário </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Sou Corretor </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>



<header>
  <app-add-content></app-add-content>
</header>



<footer>
  <div class="container-fuid">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center">
        <img class="imgFooter" src="/assets/logo.gif" alt="">
      </div>
      <div class="col-md-9 d-flex justify-content-center">
        <b>Direitos reservados</b>
      </div>
    </div>
  </div>
</footer>
</body>

